@import url('https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css');

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;


    background: #00001a;

    font-family: 'Hack', monospace;
    font-weight: normal;
    color: #f0f0f0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4 h5, h6 {
    color: #f0f0f0;
    /** font-family: 'Hack', monospace; **/
    font-weight: bold;
}

a {
    color: #0000b3;
    text-decoration: none;
    font-weight: bold;

}

main {
    margin-top: 55px;
    width: 75%;
    flex: 1;
    overflow-y: scroll;
}

footer {
    flex: 0;
    
}